*{
    font-family: 'arial';
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fb;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #8dce8f;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #f1f3f5;
}

td {
  border-bottom: 1px solid #dee2e6;
}

.role button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.role button:hover {
  background-color: #c0392b;
}

h1 {
  color:#8dce8f;;
  font-weight: bold;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #25282b56;
  border-radius: 10px;
  padding: 10px;
  color: white;
  position: fixed;
  top: 20px;
  right:20px;
  gap:10px;
}

.header .admin-info {
  display: flex;
  align-items: center;
}

.header .admin-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.header .admin-info .admin-name {
  font-size: 1.2rem;
}

.header .logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.header .logout-btn:hover {
  background-color: #c82333;
}